.App {
  width: 100%;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.4s ease;
}

.link:hover {
  scale: 1.2;
}

.link:visited {
  color: inherit;
  text-decoration: inherit;
}
